* {
  border-color: alpha(@borders, 1);
  border-style: solid;
}

.unfocused {
  background-color: mix(
    @theme_unfocused_fg_color,
    @theme_unfocused_bg_color,
    0.94
  );
}

.now {
  background-color: alpha(@theme_unfocused_selected_bg_color, 0.2);
}

.selected {
  background-color: alpha(@theme_unfocused_selected_bg_color, 0.4);
}

/* Fix having a list in an expander rows body */

.frag_list_box {
  background-color: transparent;
  box-shadow: 0 0;
  padding: 0px;
}

.frag_list_box > *:first-child {
  border-radius: 0px;
}

/* Make repeat_rows, by-day buttons very small */

.by_day > button {
  padding: 0px;
  margin: 0px;
}

/* styles notes section in editor */
#notes {
  padding: 1rem;
  border: solid 1px @borders;
  border-radius: 0.5rem;
}
